<div class="container character">
  <h1>{{ character.name }}</h1>
  <p>{{ character.time.strftime('%Y-%m-%d %H:%M:%S') if character.time else '' }} / {{ global_datetime.strftime('%Y-%m-%d %H:%M:%S') }}</p>
  <label for="colorPicker">Выберите цвет:</label>
  <input type="color" id="colorPicker" value="{{ character.color }}" onchange="updateColor('{{ character.id }}')">
  <button id="selectAddress" onclick="saveAddress('{{ character.id }}')">Выбрать персонажа</button>
  <iframe src="/get_character_story/{{character.id}}"></iframe>

  <h2>Skills</h2>
  {% for group, skills in skills_by_group.items() %}
    <p><b>{{ group }}</b></p>
    {% for character_id, skill_id, skill_name, stat_val, stat_initValue in skills %}
    <div class="skill-item">
      <div class="name">
        {{ skill_name }}:
      </div>
        <button onclick="updateSkill('{{ character_id }}', '{{ skill_id }}', 'skill-{{ skill_id }}', 1)">+1</button>
        <input type="number" id="skill-{{ skill_id }}" value="{{ stat_val }}" readonly/>
        <p>/ {{ stat_initValue }}</p>
        <button onclick="updateSkill('{{ character_id }}', '{{ skill_id }}', 'skill-{{ skill_id }}', -1)">-1</button>
    </div>
    {% endfor %}
  {% endfor %}
  
  <h2>Items</h2>
  {% for gameitem in gameitems %}
    <div class="gameitem-item">
      <div class="name">
        {{ gameitem.name }}
      </div>
      <div class="description">{{gameitem.description}}</div>
      <button onclick="openModal('{{character.id}}', '{{gameitem.id}}')">move</button>
    </div>
  {% endfor %}
</div>